@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: black;
}

.main {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/1fd8c6d0-20db-4667-860e-dd1ad7353ac0/921608cb-9912-4663-a666-a52785ca118f/NP-en-20240624-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.text {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0px 30px;
}

.text> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.text> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.text> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.line {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: none;
    border-radius: 4px;
    /* border: 1px solid white; */
    cursor: pointer;

}


.signbtn1 {
    background-color: #e91919;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}


.btn:hover {
    background-color: #aa0303;

}

.btn:active {
    transform: scale(90%);
}

.signbtn2 {
    background-color: red;
    color: white;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}



.image {
    position: relative;
}

.image img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.image video {
    position: absolute;
    top: 93px;
    left: 0;
    width: 481px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}


.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: black;

}

.line {
    background-color: rgb(85, 85, 85);
    height: 8px;
    width: 100%;
}

.head {
    width: 100%;
    text-align: center;
    color: white;
    padding: 90px 0px 32px 0px;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
}


.questionbox {
    min-height: 32px;
    background-color: rgb(45, 45, 45);
    margin: 6px 173px;
    padding: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.questionbox:hover {
    background-color: rgb(77, 76, 76);
    transition: background-color 0.3s, transform 0.1s;
}

.question {
    color: white;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
}

.c1,
.c2 {
    text-decoration-line: underline;
    color: rgb(255 255 255 / 70%);
    background-color: black;
    padding: 90px 0px 0px 147px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;

}



.item {
    font-size: 90%;
    padding-top: 16px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.foot {
    margin-top: 40px;
}

footer {
    min-width: 100%;
    min-height: 330px;
    background-color: black;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 28px;
}

.repeated {
    color: white;

}

.plus{
    background: none;
    border: none;
    cursor: pointer;
    
}

.cross{
    display:none;
    background: none;
    border: none;
    cursor: pointer;
}

.quesContent{
    margin-top: 0;
    margin-bottom: 6px;
    display: none;
    color: white;
    background-color: rgb(45, 45, 45);
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    min-height: 32px;
    margin: 0px 173px 6px 173px;
    padding: 31px;
   
    
    align-items: center;
    
}
.quesContent {
    display: none;
}

.show-text {
    display: block;
}

.cross {
    display: none;
}

.show-text .cross {
    display: inline-block;
}

.show-text .plus {
    display: none;
}



@media only screen and (max-width:1280px) {
    nav {
        max-width: 90vw;
    }

    .image img {
        width: 455px;
    }

    .image video {

        top: 83px;

        width: 411px;
    }

    .questionbox {
        margin: 6px 43px;
    }

    .quesContent{
        margin: 6px 43px;
    }

    footer {
        margin-left: -114px;
    }
}

@media only screen and (max-width:960px) {
    nav img {

        width: 95px;
    }

    .signbtn1 {
        padding: 3px 14px;
        font-size: 16px;
    }

    .first {
        flex-direction: column;
    }


    .question {
        font-size: 20px;
    }

    .quesContent{
        font-size: 20px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 52px;

    }
}

@media only screen and (max-width:480px) {

    .text> :nth-child(1) {

        font-size: 38px;

    }

    .text> :nth-child(2) {

        font-size: 14px;

    }

    .text> :nth-child(3) {

        font-size: 16px;

    }

    .email {
        flex-direction: column;
    }

    .signbtn2 {
        padding: 3px 14px;
        font-size: 10px;
    }

    .image img {
        width: 355px;
    }

    .image video {

        top: 73px;

        width: 311px;
    }

    .c2 {
        padding-left: 22px;
    }
}