@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #585656;
}

.first {
    width: 100%;
    height: 55vw;
    background-color: black;
    filter: opacity(65%);
}

.main {
    height: 50vw;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/1fd8c6d0-20db-4667-860e-dd1ad7353ac0/921608cb-9912-4663-a666-a52785ca118f/NP-en-20240624-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: max(1200px, 110vw);
    position: relative;
    z-index: 0;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    padding: 2vw 12vw 2vw 15vw;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.logo {
    width: 10vw;
}

.signbtn {
    border: none;
    border-radius: 3px;
    background-color: #d10303;
    font-size: 15px;
    font-family: 'Poppins';
    color: white;
    padding: 5px 10px;
    max-width: 100%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;


}

.signbtn:active {
    transform: scale(0.95);
}

.signbtn:hover {
    background-color: #aa0303;

}

.text {

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 13px;
    width: 70vw;
    position: absolute;
    top: 23vw;
    left: 15vw;

}

.heading {
    font-size: 40px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
}

h2 {
    font-size: 21px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

h3 {
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin: 16px;
}

.input-container {
    position: relative;
    width: 58%;
}

input {
    background-color: #5252527a;
    color: rgb(255, 253, 253);
    border: none;
    border-radius: 5px;
    padding: 18px;
    font-size: 14px;
    width: 24vw;
}

input:focus+.placeholder,
input:not(:placeholder-shown)+.placeholder {
    transform: translateY(-30px);
    font-size: 15px;
    opacity: 1;
}

.placeholder {
    position: absolute;
    top: 50%;
    left: 21px;
    transform: translateY(-39%);
    color: rgba(255, 255, 255, 0.76);
    pointer-events: none;
    transition: transform 0.2s ease, font-size 0.2s ease, opacity 0.2s ease;
    font-family: "Poppins", sans-serif;
}

.sections {
    width: 100%;
    height: 40vw;
    background-color: black;
    margin-top: 7px;
    display: flex;
    overflow: hidden;
}

.btn2 {
    font-size: 19px;
    padding: 10px 24px;
    font-weight: 600;
}

.box1 {
    position: relative;
    z-index: 1;
    color: white;
    font-family: "Poppins", sans-serif;


}


.main-text {
    font-size: 3rem;
    padding: 15vw 0px 0px 11vw;
    font-weight: 1000;
    letter-spacing: 1.2px;
}

.sub-text {
    padding: 10px 0vw 13px 11vw;
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 350;
}

.box2 {
    width: 66%;
}

.tv {
    width: 35vw;
    padding: 7vw 9vw 0vw 6vw;
    position: relative;
    z-index: 1;
}

.vdo {
    bottom: 54%;
    left: 20%;
    position: relative;
    z-index: 0;
}

.third {
    flex-direction: row-reverse;
    gap: 22px;
}

.mobile {

    width: 510px;
    padding: 60px 0px 0px 160px;
    position: relative;
    z-index: 0;
}

.text1 {
    font-size: 3rem;
    padding: 11vw 121px 0px 0px;
    font-weight: 1000;
    letter-spacing: 1.2px;
}

.text2 {
    padding: 9px 15vw 0px 0vw;
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 350;
}

.overlapbox {
    border: 2px solid grey;
    border-radius: 15px;
    background-color: black;
    height: 18%;
    width: 39%;
    margin: -132px 261px;
    position: relative;
    display: flex;
    gap: 11px;
    /* justify-content: center; */
    align-items: center;
    justify-items: center;
}

.ST {
    width: 55px;
    padding: 6px 14px 8px 14px
}

.txt {
    font-family: "Poppins", sans-serif;
}

.p1 {
    color: white;
}

.p2 {
    color: rgb(3, 102, 250);
    padding-top: 5px;
}

.arrow {
    margin-left: 22px;
}

.fourth {
    height: 32vw;

}

.adjust1 {
    padding: 100px 55vw 0px 11vw;
}

.adjust2 {
    padding: 10px 55vw 13px 11vw;
}

.fifth {
    flex-direction: row-reverse;
    gap: 22px;
}

.kids {
    width: 523px;
    padding: 101px 0px 0px 160px;
    position: relative;
    z-index: 0;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: black;
}

.line {
    background-color: grey;
    height: 8px;
}

.head {
    width: 100%;
    text-align: center;
    color: white;
    padding: 90px 0px 32px 0px;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
}


.questionbox {
    height: 22px;
    background-color: rgb(45, 45, 45);
    margin: 6px 173px;
    padding: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.questionbox:hover{
    background-color: rgb(77, 76, 76);
transition: background-color 0.3s, transform 0.1s;
}
.question {
    color: white;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
}